<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <h3>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h3>
  </aside>
  <div class="span8">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>
