<% provide(:title, @project.acc) %>
<div class="row">
  <aside class="span4">
    <h3>Users responsible for</h3>
    <span>
      <% for user in @users %>
        <%= gravatar_for @user %>
      <% end %>
    </span>
  </aside>
  <div class="span8">
    <h3>Project detail</h3>

    <table>
      <tr>
        <td class="project_attr"><strong>Acc: </strong></td>
        <td><%= @project.acc %></td>
      </tr>
      <tr>
        <td class="project_attr"><strong>Start date: </strong></td>
        <td><%= @project.start_date %></td>
      </tr>
      <tr>
        <td class="project_attr"><strong>Deadline: </strong></td>
        <td><%= @project.dead_line %></td>
      </tr>
      <tr>
        <td class="project_attr"><strong>status: </strong></td>
        <td><%= @project.status %></td>
      </tr>
    </table>
  </div>
</div>
