<% provide(:title, @project.acc) %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <h3>Users responsible for</h3>
      <span>
        <% @users.each do |user| %>
          <%= gravatar_for user %>
        <% end %>
      </span>
    </aside>
    <div class="span8">
      <h3>Project detail</h3>

      <table>
        <tr>
          <td class="project_attr"><strong>Acc: </strong></td>
          <td><%= @project.acc %></td>
        </tr>
        <tr>
          <td class="project_attr"><strong>Start date: </strong></td>
          <td><%= @project.start_date %></td>
        </tr>
        <tr>
          <td class="project_attr"><strong>Deadline: </strong></td>
          <td><%= @project.dead_line %></td>
        </tr>
        <tr>
          <td class="project_attr"><strong>status: </strong></td>
          <td><%= @project.status %></td>
        </tr>
      </table>
    </div>
  </div>
<% else %>
  <h1><%= @project.acc %></h1>
  <div id="project_info">
    <li style="list-style: none">
      <ul>Customer: </ul>
    </li>
  </div>
  <hr />
  <div>
    <div id="project_progress">
      <div id="samples_received"
          class="<%= @project.status_samples_received %>">
        <a href="javascript: void(0);" onclick="showProgress()">
          Samples delivery
        </a>
      </div>
      <div class="arrow"> =====></div>
      <div id="experiement_done"
          class="<%= @project.status_experiments_done %>">
        <a href="javascript: void(0);" onclick="showProgress()">
          Experiment
        </a>
      </div>
      <div class="arrow"> =====></div>
      <div id="bioinformatics_done"
          class="<%= @project.status_bioinformatics_done %>">
        <a href="javascript: void(0);" onclick="showProgress()">
          Bioinformatics
        </a>
      </div>
      <div class="arrow"> =====></div>
      <div id="report_finished"
          class="<%= @project.status_report_finished %>">
        <a href="javascript: void(0);" onclick="showProgress()">
          Report
        </a>
      </div>
    </div>
    <br />
    <div id="legends">
      <div>
        <div class="legend done"></div>  <span>Progress done</span>
      </div>
      <div>
        <div class="legend not-done"></div>  <span>Progress processing</span>
      </div>
    </div>
    <hr />
    <div id="progress">
      <div id="progress_delivery" style="display: none">
        <% if @project.status_samples_received == 'done' %>
          <% signing_user = User.find_by_email(@project.delivery_signed_by) %>
          <h4>Samples delivery:</h4>
          <li style="list-style: none">
            <ul>Signed by: <%= link_to signing_user.name, signing_user %></ul>
            <ul>Express number: <%= @project.delivery_express_number %></ul>
            <ul>Received date: <%= @project.delivery_received_date %></ul>
          </li>
        <% end %>
      </div>
      <div id="progress_experiment" style="display: none">
        <% if @project.status_experiments_done == 'done' %>
          <% operator = User.find_by_email(@project.experiment_operator) %>
          <h4>Experiment:</h4>
          <li style="list-style: none">
            <ul>Operator: <%= link_to operator.name, operator %></ul>
            <ul>Complete date: <%= @project.experiment_complete_date %></ul>
          </li>
        <% end %>
      </div>
      <div id="progress_bioinformatics" style="display: none">
        <% if @project.status_bioinformatics_done == 'done' %>
          <% operator = User.find_by_email(@project.bioinformatics_operator) %>
          <h4>Bioinformatics:</h4>
          <li style="list-style: none">
            <ul>Operator: <%= link_to operator.name, operator %></ul>
            <ul>Complete date: <%= @project.bioinformatics_complete_date %></ul>
          </li>
        <% end %>
      </div>
      <div id="progress_report" style="display: none">
        <% if @project.status_report_finished == 'done' %>
          <% holder = User.find_by_email(@project.report_holder) %>
          <h4>Report:</h4>
          <li style="list-style: none">
            <ul>Holder: <%= link_to holder.name, holder %></ul>
          </li>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
